.header {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 82px;
  }
}

.site-header {
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all 0.4s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;

  &.fixed {
    position: fixed;
    z-index: 990;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    box-shadow: 0 13px 35px -12px rgba(35,35,35,0.1);
    top: 0;
    left: 0;
    right: 0;
  }
}

.admin-bar {
  .site-header {
    top: 32px;
  }
}

.site-branding {
  font-family: $assistant-bold;
  color: $red;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;

  & img {
    height: 90px;
  }
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}

.main-navigation ul li {
  list-style: none;
}

.main-navigation ul li a {
  font-family: $assistant-medium;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: initial;
  color: #02274a;
  padding: 15px 0;
  position: relative;
  text-decoration: none;
}

.main-navigation ul .current-menu-item a {
  color: $blue;
}


