.tabs {
  &__list {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
  }

  &__item {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}
