/* Colors */
$dark: #000;
$white: #fff;
$blue: rgb(12, 0, 106);
$red: red;
$orange: rgb(255, 140, 0);
$orange-dark: rgb(127, 70, 0);
$green: rgb(0, 126, 11);
$green-dark: rgb(0, 71, 6);
$green-light: rgb(0, 236, 20);

$shadow1: 0 12px 24px rgba(47, 65, 129, 0.1);
$shadow2: 0 20px 20px rgba(26, 77, 190, 0.2);

/* Fonts */
$assistant: "Assistant Regular", sans-serif;
$assistant-bold: "Assistant Bold", sans-serif;
$assistant-extra-bold: "Assistant Extra Bold", sans-serif;
$assistant-extra-light: "Assistant Extra Light", sans-serif;
$assistant-light: "Assistant Light", sans-serif;
$assistant-medium: "Assistant Medium", sans-serif;
$assistant-semi-bold: "Assistant Semi Bold", sans-serif;
$roboto: "Roboto Regular", sans-serif;
