header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.main-navigation.scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(-200%);
  z-index: 5;
}

.main-wrap.header-wrap {
  overflow: visible;
  padding-left: 64px;
  padding-right: 64px;
}

.header-bar {
  padding: 4px 0;
  background-color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header-bar-link {
  text-decoration: none;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 0;
  position: relative;
  min-height: 76px;
}

.site-branding {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Libre Caslon Text", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 15px;
}

.branding-label {
  background: #000;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  padding: 0 4px;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.user-actions-side {
  display: flex;
  gap: 32px;
}

.header-action {
  display: inline-flex;
  position: relative;
  height: 28px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  flex-direction: row-reverse;
}

.header-action.header-search {
  gap: 16px;
}

.header-count {
  position: relative;
  top: -8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
}

.main-navigation .menu {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation .menu-item a {
  display: block;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
}

.main-navigation .menu-item a:hover,
.main-navigation .menu-item a.active {
  border-bottom: 2px solid #000;
}

.mega-menu {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 33px 215px 22px 64px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.is-show {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.admin-bar .mega-menu {
  top: calc(165px + 32px);
}

.mega-menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-wrap {
  display: flex;
  gap: 90px;
}

.links-wrap {
  display: flex;
  gap: 32px;
}

.mega-menu-container .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mega-menu-container .menu a {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.06667;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
}

.mega-menu-container .menu .charms-menu-item {
  margin-top: 16px;
}

.mega-menu-container .menu .charms-menu-item a {
  font-weight: 700;
}

.menu-btns {
  display: flex;
  gap: 13px;
  margin-top: 52px;
}

.menu-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.06667;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 44px;
}

.link-item {
  text-decoration: none;
}

.link-item p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #000;
}

p.link-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000;
  margin-top: 10px;
}

.header-mini-cart,
.login-modal {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  padding: 80px 20px 20px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.login-modal {
  max-width: 600px;
  width: 95%;
}

.header-mini-cart.is-show,
.login-modal.is-show {
  pointer-events: initial;
  animation: slideLeft 0.5s forwards;
}

.header-mini-cart.is-hidden,
.login-modal.is-hidden {
  pointer-events: none;
  animation: slideRight 0.5s forwards;
}

.admin-bar .header-mini-cart,
.admin-bar .login-modal {
  top: 32px;
}

.header-mini-cart-close,
.login-modal-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.register-difider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.register-difider::before,
.register-difider::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.register-link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.register-link a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.circle {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 50px;
}

.mini_cart_item {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #aaa;
}

.mini_cart_item::after,
.mini_cart_item::before {
  content: none !important;
}

.mini_cart_item a {
  display: flex !important;
  align-items: flex-end;
  gap: 8px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.mini_cart_item a.remove {
  position: absolute;
  top: 10px;
  left: 0;
  text-decoration: none;
  display: flex !important;
  width: 20px;
  height: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff !important;
  border-radius: 50px;
}

.mini_cart_item a img {
  width: 60px !important;
}

.header-mini-cart .total {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.header-mini-cart .buttons {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.header-mini-cart .buttons .button {
  background-color: #000 !important;
  color: #fff !important;
  width: 100%;
  text-align: center;
}

.header-mini-cart .buttons .checkout {
  display: none;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 9999;
  padding: 60px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.search-modal.is-show {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.admin-bar .search-modal {
  top: 32px;
}

.search-modal-close {
  position: absolute;
  display: flex;
  top: 20px;
  left: 60px;
  cursor: pointer;
}

.search-form-wrap {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search-form-input {
  width: 60%;
  border: 1px solid #000;
  padding: 16px 40px 16px 20px;
  font-size: 24px;
}

button.btn.search-form-submit {
  min-width: 150px;
  font-size: 24px;
}

.search-modal-content {
  max-width: 1600px;
  margin: 40px auto 0;
  display: flex;
  flex-wrap: wrap;
}

h2.search-result-title {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

button.btn.search-form-submit {
  padding: 11px 24px;
}

/*
.search-modal-content .article-list-item {
  width: calc((50% - 24px) / 2);
}
*/
.search-modal-error {
  display: none;
  margin: 60px;
  color: #ff0f0f;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.results-not-found {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  list-style: none;
}

form.header-form-search {
  display: none;
}

form.header-form-search .header-form-container {
  display: flex;
  gap: 6px;
}

form.header-form-search .header-form-container:focus-within {
  border-bottom: 1px solid #000;
}

form.header-form-search input#header_search {
  height: auto;
  width: auto;
  border: none;
  outline: none;
  background: transparent;
  padding: 4px 0;
}

form.header-form-search button {
  padding: 0;
  border: none;
  background: transparent;
}

.header-form-btns-container {
  display: flex;
  gap: 6px;
}

.header-form-btns {
  display: none;
}

#search_results {
  width: 374px;
  position: absolute;
  top: 30px;
  background: #fff;
  z-index: 9999;
}

.search-header {
  color: #515151;
  line-height: 24px;
  padding: 16px 24px;
  margin-bottom: 16px;
  letter-spacing: 0.05rem;
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #e2e2e2;
}

.product-results {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.product-results li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

.product-results li img {
  width: 88px;
}

.product-results li h2 {
  font-size: 14px;
  font-weight: 400;
}

.product-results li bdi {
  font-size: 12px;
  color: #515151;
}

.category-results li {
  padding: 0 24px;
  background-color: #f6f6f6;
  font-weight: 500;
  letter-spacing: 0.02rem;
  line-height: 2.4rem;
}

.category-results li a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  font-weight: 500;
}

.category-results li:last-child a {
  border-bottom: 0;
}

.mobile-dropdown-menu {
  display: none;
  position: fixed;
  z-index: 99999;
  right: 0px;
  padding: 30px;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  padding-bottom: 130px;
}

.mobile-dropdown-menu ul li {
  border-bottom: 1px solid #c8c8c8;
}

.mobile-dropdown-menu ul li a {
  display: block;
  padding: 16px 0 20px 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: .07em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
}

.mobile-dropdown-menu ul li:last-child {
  border-bottom-color: transparent;
}

@keyframes slideLeft {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(110%);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translateX(110%);
  }
}