.main-wrap.header-wrap {
  padding-left: 64px;
  padding-right: 64px;
}

.header-bar {
  padding: 4px 0;
  background-color: #000;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header-bar-link {
  text-decoration: none;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 0;
  position: relative;
  min-height: 76px;
}

.site-branding {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Libre Caslon Text", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  gap: 15px;
}

.branding-label {
  background: #000;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  padding: 0 4px;
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.user-actions-side {
  display: flex;
  gap: 32px;
}

.header-action {
  display: inline-flex;
  position: relative;
  height: 28px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.header-count {
  position: relative;
  top: -8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
}

.main-navigation .menu {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation .menu-item a {
  display: block;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent;
}

.main-navigation .menu-item a:hover,
.main-navigation .menu-item a.active {
  border-bottom: 2px solid #000;
}

.mega-menu {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  padding: 33px 215px 22px 64px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.is-show {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.admin-bar .mega-menu {
  top: calc(165px + 32px);
}

.mega-menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-wrap {
  display: flex;
  gap: 90px;
}

.links-wrap {
  display: flex;
  gap: 32px;
}

.mega-menu-container .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mega-menu-container .menu a {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.06667;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

.menu-btns {
  display: flex;
  gap: 13px;
  margin-top: 52px;
}

.menu-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.06667;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 44px;
}

.link-item {
  text-decoration: none;
}

.link-item p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #000;
}

p.link-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000;
  margin-top: 10px;
}

.header-mini-cart {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  padding: 80px 20px 20px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.header-mini-cart.is-show {
  pointer-events: initial;
  animation: slideLeft 0.5s forwards;
}

.header-mini-cart.is-hidden {
  pointer-events: none;
  animation: slideRight 0.5s forwards;
}

@keyframes slideLeft {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(110%);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translateX(110%);
  }
}

.admin-bar .header-mini-cart {
  top: 32px;
}

.header-mini-cart-close {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.mini_cart_item {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 40px;
  margin-bottom: 30px;
  padding-top: 10px;
  border-top: 1px solid #aaa;
}

.mini_cart_item::after,
.mini_cart_item::before {
  content: none !important;
}

.mini_cart_item a {
  display: flex !important;
  align-items: flex-end;
  gap: 8px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.mini_cart_item a.remove {
  position: absolute;
  top: 10px;
  left: 0;
  text-decoration: none;
  display: flex !important;
  width: 20px;
  height: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff !important;
  border-radius: 50px;
}

.mini_cart_item a img {
  width: 60px !important;
}

.header-mini-cart .total {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #000;
}

.header-mini-cart .buttons {
  margin-top: 40px;
  display: flex;
  gap: 8px;
}

.header-mini-cart .buttons .button {
  background-color: #000 !important;
  color: #fff !important;
  width: 100%;
  text-align: center;
}

.header-mini-cart .buttons .checkout {
  display: none;
}