.hero {
  position: relative;
  top: 0;
  z-index: 0;
}

.page-container {
  background: #fff;
  position: relative;
  z-index: 1;
}

.hero-wrap {
  position: absolute;
  bottom: 0;
  right: 64px;
}

.hero-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 45px 91px 0;
  border-right: 1px solid #000000;
}

.hero-content a {
  border: 1px solid #ffffff;
  background: #fff;
}

.hero-content a:before {
  display: none;
}

.hero-content h1 {
  font-size: 38px;
  padding-bottom: 20px;
}

.main-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main-wrap.boxed {
  max-width: 87%;
}

.main-wrap.boxed .main-posts-content {
  max-width: 815px;
}

.hero-image.main-wrap img {
  width: 100%;
  height: calc(100vh - 155px);
  object-fit: cover;
}

.hero-title {
  font-family: "Libre Caslon Text", sans-serif;
  font-weight: 500;
  line-height: 1.28571;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero-label {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  line-height: 1.28571;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.taxonomies {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  padding: 64px 0 5px;
}

.taxonomies-title {
  margin-bottom: 64px;
  text-align: center;
}

.taxonomies-wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 25px;
  margin-bottom: 90px;
}

.taxonomies-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.taxonomies-content {
  width: 100%;
  position: relative;
  mix-blend-mode: multiply;
}

.taxonomies-content img,
.taxonomies-content-image picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.taxonomies-content img:hover {
  filter: contrast(.79);
}

.taxonomies-content-title {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 48px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 0.2s ease-in-out;
}

.mobile-only {
  display: none;
}

/* hover animation title taxonomies ---> */
.animation-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 2.5em;
}

.animation-text {
  transform: translateY(-100%);
}

.taxonomies-content:hover .taxonomies-content-title:not(.animation-text),
.slick-item a:hover .taxonomies-content-title:not(.animation-text) {
  transform: translateY(100%);
}

.taxonomies-content:hover .animation-text,
.slick-item a:hover .animation-text {
  transform: translateY(0);
}

/* <-----hover animation title taxonomies */

.taxonomies-content-link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.taxonomies-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.taxonomies-hidden-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: .04em;
  text-align: center;
  text-transform: uppercase;
  height: 48px;
  padding: 0 10px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collections-image {
  position: relative;
  z-index: 0;
  margin-bottom: -40px;
}

.collections-bg {
  width: 100%;
}

.product-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 397px;
}

.collections-content {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
}

.collections-content .collections-container {
  padding: 35px 0 41px;
  background: #fff;
  position: relative;
}

.button-animation-effect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collections-shadow {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.collections-container>h2 {
  margin: 0;
  text-align: center;
}

.collections-container>p {
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  line-height: 0.88889;
  letter-spacing: 0.06em;
  text-align: center;
  color: #000;
  padding: 16px 0;
  margin-bottom: 0;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li.product-card {
  width: calc(100% / 4);
}

li.product-card-big {
  width: calc(100% / 2);
}

li.product-card-big.banner img {
  width: 100%;
  height: calc(604px - 10px);
  object-fit: cover;
}

.charms-cat li.product-card .product-link a,
.page-id-3494 li.product-card .product-link a,
.page-id-3494 .slick-slide .product-image a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-id-3494 li.product-card .product-image img,
.page-id-3494 .slick-slide .product-image img {
  padding: 20%;
}

.product-link {
  background: #fff;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  border: 1px solid transparent;
}

.product-link:hover {
  border: 1px solid #737373;
}

.product-link a {
  text-decoration: none;
}

.product-title {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 0 10px;
  margin: 16px 0 0;
  direction: ltr;
}

.product-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.product-price {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.product-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
}

.product-link:hover .product-hidden {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.product-hidden-img {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.product-hidden-img a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.product-hidden-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.post-review__like {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.product-hidden-btn {
  display: block;
  width: 100%;
  background: #000;
  font-weight: 600;
  font-size: 12px;
  line-height: 48px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  direction: rtl;
  padding: 0 !important;
}

.main-posts {
  max-width: 1600px;
  margin: 80px auto;
}

.main-posts-picture {
  position: relative;
  min-height: 400px;
  max-width: 80%;
}

.main-posts-art {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
}

.main-posts-art:nth-child(n + 2) {
  margin-top: 80px;
}

.page-template-collections .main-posts-art {
  margin-top: 55px;
}

.main-posts-art.second .main-posts-picture {
  margin-right: auto;
}

.main-post-image {
  position: relative;
  z-index: 0;
}

.main-posts-art.first .main-post-image {
  right: 11%;
}

.main-posts-container {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 32px 40px;
  background-color: #fff;
  max-width: 45%;
  margin-left: 20%;
}

.main-posts-container .button-animation-effect {
  justify-content: unset;
}

.main-posts-art.second .main-posts-container {
  left: unset;
  margin-left: unset;
  margin-right: 20%;
}

.main-posts-shadow {
  display: none;
  /* hide temp */
  position: absolute;
  z-index: 0;
  width: 83%;
  height: 80%;
}

.main-posts-art.first {
  margin-bottom: 0;
}

.main-posts-art.first .main-posts-shadow {
  top: -30px;
  right: -50px;
}

.main-posts-art.second .main-posts-shadow {
  top: -30px;
  left: -50px;
}

.main-posts-wrap {
  max-width: 585px;
  display: flex;
  margin: 0;
  flex-direction: column;
}

.main-posts-wrap h2 {
  margin-bottom: 0;
}

.main-posts-wrap>p {
  margin-bottom: 0;
  font-size: 15px;
}

.main-posts-wrap a {
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.main-posts-art.first .main-posts-wrap {
  margin-left: auto;
}

.main-posts-art.second .main-posts-wrap {
  margin-right: auto;
}

.exhibition-container::after {
  content: "";
  display: block;
  background: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1600px;
  width: 100%;
  height: 450px;
  z-index: -1;
}

.exhibition-container.reversed::after {
  left: unset;
  right: 0;
}

.exhibition-wrap {
  max-width: 1600px;
  width: 83%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 13px 0;
  margin-bottom: 200px;
}

.exhibition-wrap.reversed {
  flex-direction: row;
  margin-right: unset;
}

.exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
  position: absolute;
  top: 65px;
  left: unset;
  right: 152px;
}

.exhibition-image-wrap {
  width: 450px;
  height: 450px;
  position: relative;
}

.exhibition-content-wrap {
  max-width: 924px;
  width: calc(100% - 450px);
}

.exhibition-image-wrap .exhibition-image {
  position: absolute;
  top: 65px;
  left: 0;
  width: 450px;
}

.exhibition-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 20px;
  padding-right: 13%;
}

.exhibition-content p,
.exhibition-content h2 {
  margin: 0;
}

.exhibition-content p {
  font-size: 15px;
}

.exhibition-content a.btn {
  margin-top: 8px;
  font-weight: 400;
}

.signature {
  max-width: 300px;
}

.popular {
  padding-bottom: 90px;
}

.popular-title {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.popular-title+.slider-container {
  margin-top: 0;
}

.popular-nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 45px;
}

.nav-indicator {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  color: #000;
}

span.slide-indicator {
  position: relative;
  font-size: 14px;
  top: -9px;
  right: -2px;
}

span.slide-total {
  position: relative;
  line-height: 0;
  font-size: 14px;
  bottom: -3px;
  left: 0px;
}

.popular-product {
  max-width: 1632px;
  margin: 0 auto;
  overflow-x: hidden;
  direction: ltr;
}

.popular-product .slick-track,
.product-container .slick-track {
  display: flex;
}

.popular-product .product-item {
  max-width: unset;
}

.product-container {
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.product-item {
  max-width: 372px;
}

.product-item:last-child .product-link:hover {
  margin-right: 3px;
}

.product-item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
  text-decoration: none;
  align-items: center;
}

.product-item h3 {
  text-align: center;
  font-weight: 400;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.product-link .product-info-box {
  padding: 10px 20px 0 20px;
}

.product-link .product-button-cart {
  margin: 0 20px 20px 20px;
}

p.popular-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}


.home .popular {
  padding-bottom: 0 !important;
}

.signature_pieces {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.signature_pieces .article-paragraph {
  margin: 40px 0 55px 40px;
}

.signature_pieces-title {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.signature_pieces .button-animation-effect {
  display: flex;
  justify-content: center;
}