.collectionspage {
  padding: 80px 0;
}

.collectionspage h2 {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.page-template-collections .main-posts-wrap h2 {
  text-align: right;
}

.collectionspage .block1-content>p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;
}

.collectionspage .block1-content .btn {
  margin: 0 auto 16px;
}

.block9 .block1-content:last-child {
  margin-bottom: 50px;
}

.page-template-collections .slider-container {
  margin-top: 30px;
  margin-bottom: 0;
}

#block4.block4 {
  margin-top: 50px;
}

.block8 {
  margin-top: 80px;
}