.favoritespage {
  margin-top: 60px;
}

.no-favorites-message {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
}

.no-favorites-message .message-primary {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.no-favorites-message .message-secondary {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}