.article-wrap {
  max-width: 1600px;
  margin: 0 auto;
}

article>img {
  width: 100%;
}

.article-top {
  position: relative;
  padding-top: 40px;
  top: -40px;
  margin-bottom: -40px;
  background-color: #fff;
  z-index: 1;
}

.page-title {
  margin: 32px 0 24px;
  font-size: 40px;
}

.article-paragraph {
  margin: 80px 0;
}

.article-paragraph.main-title-container {
  margin: 0 auto;
  transform: translateY(-3rem);
  background: #fff;
  max-width: 87%;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 4rem;
}

.article-paragraph.main-title-container .paragraph-title,
.article-paragraph.main-title-container .paragraph-text,
.article-paragraph.main-title-container .paragraph-text p {
  text-align: right;
}

.article-paragraph.main-title-container .paragraph-link {
  text-align: right;
  margin: 26px 0 5px 0;
}

.article-paragraph.main-title-container .paragraph-title {
  margin-top: 3rem;
}

.article-paragraph.main-title-container .breadcrumbs *,
.article-paragraph.main-title-container .breadcrumbs {
  font-size: 13px;
}

.paragraph-title {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0;
}

.page .paragraph-title {
  font-size: 38px;
}

.paragraph-text,
.paragraph-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  text-align: center;
}

.page .paragraph-text,
.page .paragraph-text p {
  font-size: 15px;
}

.paragraph-link {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 10px;
  width: max-content;
  margin: 40px auto 0;
}

.image-caption-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.image-caption-item {
  position: relative;
}

.image-caption-item.full {
  width: 100%;
}

.image-caption-item.half {
  width: calc(50% - 12px);
}

.image-caption-item .caption {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  padding: 4px 16px;
}

.article-downloads {
  border-top: 1px solid #e2e2e2;
  padding: 40px 0 60px;
}

.download-link {
  display: flex;
  gap: 11px;
  width: max-content;
  margin: 0 auto;
  margin-top: 24px;
  text-decoration: none;
  color: #000;
}

.slider-container,
.article-collections {
  margin-top: 80px;
  margin-bottom: 80px;
}

.article-slider {
  overflow: hidden;
}

.article-slider .slick-track {
  display: flex;
  gap: 10px;
}

.article-slider .slick-list {
  max-width: 80%;
  margin: 0 auto 20px;
}

.article-slider .popular-nav {
  margin-bottom: 0;
}

.article-list {
  margin: 100px 0;
}


.article-list-item.one-in-a-row {
  width: 100%;
}

.article-list-item.two-in-a-row {
  width: calc((100% - 40px) / 2);
}

.article-list-item.three-in-a-row {
  width: calc((100% - 80px) / 3);
}

.page-id-4565 .container.center-mode-box {
  max-width: 1480px;
}

.page-id-4565 .container.center-mode-box .article-list-wrap {
  align-items: center;
}

.page-id-4565 .container.center-mode-box .article-list-wrap p {
  font-size: 16px;
}

.article-list-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.list-item-number {
  position: relative;
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 40px;
}

.list-item-number::after {
  content: ".";
  display: block;
  position: absolute;
  bottom: -36px;
}

.list-item-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.list-item-wrap.pad {
  padding-right: 50px;
}

.list-item-side {
  width: calc((100% - 40px) / 2);
}

.article-list-item.two-in-a-row .list-item-side,
.article-list-item.three-in-a-row .list-item-side {
  width: 100%;
}

.list-item-side.full-content,
.list-item-side.full-content img {
  width: 100%;
}

h2.list-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0;
}

.list-link {
  margin: 40px 0 0;
}

.article-video {
  margin: 100px 0;
}

.article-video video {
  width: 100%;
}

.article-exhibition,
.article-post {
  margin: 100px 0;
}

.post-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
}

.post-wrap.reverse {
  flex-direction: row-reverse;
}

.post-side {
  width: calc((100% - 40px) / 2);
}

h2.post-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
}

.article-post .paragraph-link {
  margin: 16px 0 0;
}

.article-page-list {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-list-title {
  text-align: center;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0;
}

.page-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.page-item-replacer {
  background: #cacaca;
}

.page-item {
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.page-item-category::after {
  content: "|";
}

.page-item-info {
  padding: 4px 8px 0;
}

.page-item-category a,
.page-item-time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: .05rem;
  color: #000;
  text-decoration: none;
}

h2.page-item-title {
  padding: 0 8px;
}

h2.page-item-title,
h2.page-item-title a {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  letter-spacing: .02rem;
  color: #000;
  text-decoration: none;
}

.page.default-template {
  margin: 0 auto;
  padding-top: 4.8rem;
  padding-bottom: 3.2rem;
  max-width: 66.66667%;
}

.page.default-template * {
  color: #515151;
}

.page.default-template p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

header.entry-header.page.default-template {
  padding: 80px 0;
  margin: 0;
  border-bottom: 1px solid #e2e2e2;
  max-width: 100%;
}

header.entry-header.page.default-template h1.entry-title {
  margin: 0;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.2px;
}