.modal-subscription {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  height: max-content;
  max-width: 54.32vw;
  min-width: 600px;
  max-height: 90%;
  overflow: auto;
  background: #fff;
}

#modal-subscribe-overlay {
  z-index: 99998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#modal-subscribe-overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

#modal_subscription .modal-close {
  position: absolute;
  display: block;
  top: 40px;
  left: 30px;
  width: 24px;
  height: 24px;
  line-height: 1;
  z-index: 100000;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 12.707l10.646 10.646.708-.707L12.707 12 23.354 1.354l-.707-.708L12 11.293 1.354.646l-.708.708L11.293 12 .647 22.646l.707.707L12 12.707z' fill='black'/%3e%3c/svg%3e") center no-repeat;
}

.modal-subscribe-image {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

.modal-subscription .modal-content {
  padding: 0;
  display: flex;
}

.modal-subscription .modal-side {
  width: 50%;
}

.modal-side-content {
  padding: 72px 24px 24px;
}

h2.modal-subscribe-title {
  padding-bottom: 24px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 32px !important;
  line-height: 40px;
  letter-spacing: 0px;
}

p.modal-subscribe-text {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.modal-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #515151;
  padding-bottom: 48px;
  padding-top: 16px;
}

.modal-subscribe-form form input {
  border-bottom: 1px solid #000 !important;
  text-transform: none !important;
}

.modal-subscribe-form button.button {
  width: 100%;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.06667;
  letter-spacing: .07em;
  color: #000;
  text-transform: uppercase;
  padding: 16px 24px;
  text-decoration: none;
  cursor: pointer !important;
  background-color: #000;
  color: #fff;
}

.thankyou-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  height: max-content;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow: auto;
  background: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.thankyou-modal.is-visible {
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.thankyou-modal-content {
  padding: 24px;
}

.thankyou-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.thankyou-modal-close svg {
  fill: #fff;
}

.thankyou-modal-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.thankyou-modal-title {
  margin: 0;
}

.thankyou-modal-text * {
  margin: 0;
  text-align: center;
}

.cf7-submit-button {
  position: relative;
}

.cf7-submit-button .cf7-submit-button-spinner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.cf7-submit-button .wpcf7-spinner {
  margin: 0;
}