@media screen and (min-width: 1920px) {

  #products-filter .sorting-mob,
  #products-filter .mobile-header {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .main-post-image-mobile {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

@media screen and (max-width: 1919px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-wrap.header-wrap {
    padding-left: 32px;
    padding-right: 32px;
  }

  .archive-header-content nav.woocommerce-breadcrumb {
    margin-bottom: 20px;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    margin: 0 0 40px;
  }

  #products-filter .sorting-mob,
  #products-filter .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .mega-menu {
    padding: 33px 42px 22px 42px;
  }

  .menu-wrap {
    gap: 40px;
  }

  .mega-menu-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .collections-shadow,
  .collections-shadow svg {
    width: 100%;
  }

  .archive-header-content header.woocommerce-products-header {
    max-width: 800px;
    margin-right: 80px;
  }

  .product-user-info-wrap {
    overflow-x: hidden;
  }

  .page-list {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1439px) {

  .container,
  .collections-content,
  .collections-shadow svg {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 1024px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-wrap.header-wrap {
    padding-left: 25px;
    padding-right: 25px;
  }

  .collections-image {
    margin-bottom: 0;
  }

  .collections-list {
    max-width: 768px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  li.product-card {
    width: calc(100% / 2);
  }

  .main-posts-picture,
  .single-product-post .main-posts-picture {
    position: relative;
    min-height: auto;
    width: 100%;
    display: flex;
    margin-bottom: -30%;
  }

  .main-post-image {
    right: unset !important;
    left: unset !important;
    position: relative;
  }

  .main-posts-art.second .main-posts-picture {
    justify-content: flex-end;
  }

  .main-posts-container {
    min-height: unset;
  }

  .main-posts {
    margin-bottom: 0;
  }

  .exhibition-image-wrap .exhibition-image {
    top: 100px;
    left: 100px;
  }


  .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
    top: 100px;
    right: 100px;
  }

  .exhibition-content {
    padding: 65px 0 36px 65px;
  }

  .exhibition-wrap.reversed .exhibition-content {
    padding: 65px 36px 0 65px;
  }

  .article-list-item.two-in-a-row,
  .article-list-item.three-in-a-row,
  .list-item-side {
    width: 100%;
  }

  .post-side {
    width: 100%;
  }

  .profile-container .woocommerce {
    flex-direction: column;
  }

  .profile-navigation {
    width: 100%;
    padding: 20px;
  }

  .profile-navigation ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .profile-navigation li {
    margin-bottom: 0;
  }

  .profile-navigation .woocommerce-MyAccount-navigation-link--customer-logout {
    display: none;
  }

  .profile-content {
    padding: 0;
    width: 100%;
  }

  .dashboard-item.logout-item {
    display: flex;
  }

  .taxonomies-wrap {
    flex-wrap: wrap;
  }

  .taxonomies-content {
    width: calc((100% - 28px) / 2);
  }

  .taxonomies-content.last {
    width: 100%;
  }

  .taxonomies-image,
  .taxonomies-hover-image,
  .product-image a,
  .product-image img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header#masthead {
    border-bottom: 1px solid #e2e2e2;
  }

  .container {
    max-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .archive-header-content header.woocommerce-products-header p {
    display: none;
  }

  .page-mob {
    display: block;
  }

  img.page-mob {
    width: 100%;
  }

  .page-desk {
    display: none;
  }

  .main-posts-shadow {
    overflow: hidden;
  }

  svg {
    max-width: 100%;
  }

  .main-navigation-mob {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    gap: 20px;
    align-items: center;
  }

  .main-navigation-mob .site-branding {
    margin: 0;
  }

  .user-actions {
    width: 100%;
    flex-direction: row-reverse;
  }

  .main-posts-art.first .main-posts-shadow {
    right: 0;
  }

  .main-posts-art.second .main-posts-shadow {
    left: 0;
  }

  .hero-wrap {
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    align-items: center;
  }

  .site-branding {
    position: relative;
    left: unset;
    transform: none;
    margin-bottom: 5px;
  }

  .header-top {
    flex-direction: column;
    padding: 10px 0 4px 0;
  }

  nav.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #fff;
    overflow-y: auto;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  nav.main-navigation.is-show {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }

  .admin-bar nav.main-navigation {
    top: 32px;
  }

  .main-navigation .menu-item a {
    position: relative;
  }

  .mega-menu {
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .admin-bar .mega-menu {
    top: 32px;
  }

  .main-navigation .menu-item a.active,
  .main-navigation .menu-item a:hover {
    border-bottom: 2px solid transparent;
  }

  .main-navigation .menu-item a::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xOC4yNiAxMkw2LjY2MiAxLjM2OSA3LjMzOC42MyAxOS43NCAxMiA3LjMzOCAyMy4zNjlsLS42NzYtLjczOEwxOC4yNiAxMnonIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 14px;
    height: 22px;
    display: inline-block;
    margin: 0 .5rem;
    transform: scale(0);
    position: absolute;
    left: 0;
  }

  html[dir="rtl"] .main-navigation .menu-item a::after {
    content: '';
    transform: scale(-1);
  }

  .main-navigation .menu {
    margin: 0 auto;
    align-items: unset;
    flex-direction: column;
    max-width: 90%;
    margin-top: 40px;
  }

  ul#primary-menu .menu-item {
    border-bottom: 1px solid #c8c8c8;
  }

  .mega-menu-header {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 0 1.6rem 0;
    border: 0;
    margin-bottom: 2.4rem;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .mega-menu-header::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xOC4yNiAxMkw2LjY2MiAxLjM2OSA3LjMzOC42MyAxOS43NCAxMiA3LjMzOCAyMy4zNjlsLS42NzYtLjczOEwxOC4yNiAxMnonIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 14px;
    height: 22px;
    display: inline-block;
    margin: 0 .5rem;
    transform: scale(0);
    position: absolute;
    left: 0;
    top: -2px;
  }

  .menu-btns {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .menu-title {
    font-size: 22px;
    margin-bottom: 20px;
    padding-top: 12px;
  }

  html[dir="rtl"] .mega-menu-header::after {
    content: '';
    transform: scale(-1);
  }

  html[dir="rtl"] .product-gallery__wrapper {
    direction: ltr;
  }

  .mega-menu-container .menu li {
    padding: 0 0 10px;
  }

  .archive-header {
    height: 240px;
  }

  .archive-header-content header.woocommerce-products-header {
    max-width: 100%;
    margin-right: 0;
  }

  .archive-header-content {
    position: initial;
  }

  .archive-header-content nav.woocommerce-breadcrumb {
    position: absolute;
    top: 0;
  }

  .page-description {
    display: none;
  }

  .archive-header-content .container {
    max-width: 100%;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    margin: 0;
    padding: 23px 0 10px;
  }

  .archive-header-content header.woocommerce-products-header h1,
  .product-count {
    color: #000;
  }

  .products-filter {
    margin-top: 0;
  }

  li.product-card-big {
    width: 100%;
  }

  .adv-link img,
  .adv-link {
    width: 100%;
  }

  .product-summary-wrap {
    flex-direction: column;
    gap: 10px;
  }

  .product-summary .product_title.entry-title {
    text-align: center;
  }

  .single-product-details {
    max-width: 100%;
    border-right: none;
    padding-right: 0;
  }

  .product-gallery__wrapper * {
    width: 100%;
  }

  .product-container .product-gallery,
  .product-gallery__image.half {
    max-width: 100%;
    width: 100%;
  }

  .custom-slider-cl {
    max-width: 100% !important;
  }

  .product-container .product-gallery {
    overflow: hidden;
  }

  .product-container .product-summary {
    max-width: 100%;
  }

  .product-summary .price {
    margin-top: 0;
  }

  .product-user-info {
    flex-direction: column;
  }

  .product-info-shadow svg {
    max-width: max-content;
  }

  .product-summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .woocommerce div.product form.cart {
    align-items: center;
  }

  .single-product-content-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .product-user-info-wrap::before {
    content: '';
    bottom: 150px;
    height: auto;
  }

  .page-item {
    width: calc((100% - 48px) / 3);
  }

  .charms-cat li.product-card .product-image img {
    height: 100%;
  }

  .filter-sorting .filter-label,
  .filter-attr-list {
    display: none;
  }

  .filter-side.open-btn {
    display: block;
    width: auto;
  }

  .filter-attr {
    display: flex;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 12px 30px -18px rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    height: 100%;
  }

  .admin-bar .filter-attr {
    top: 32px;
  }

  .filter-attr.is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 10000;
  }

  .filter-wrap.filter-sort .filter-dropdown {
    position: absolute;
    top: 56px;
    left: 15px;
    border: 1px solid #e0e0e0;
  }

  #products-filter .mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    font-size: 17px;
    padding: 0 0 19px 0;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 1.2rem;
  }

  #products-filter .mobile-header .reset.js-reset {
    font-size: 17px;
    padding: 2px 9px;
    border: 0;
    margin: 0;
  }

  #products-filter .mobile-header .js-close-filters.icon-close {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xMiAxMi43MDdsMTAuNjQ2IDEwLjY0Ni43MDgtLjcwN0wxMi43MDcgMTIgMjMuMzU0IDEuMzU0bC0uNzA3LS43MDhMMTIgMTEuMjkzIDEuMzU0LjY0NmwtLjcwOC43MDhMMTEuMjkzIDEyIC42NDcgMjIuNjQ2bC43MDcuNzA3TDEyIDEyLjcwN3onIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    outline: none;
    border: 0;
  }

  .filter-side {
    flex-direction: column;
    width: 100%;
  }

  .btn-filter {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 992px) {
  .hero-wrap {
    position: relative;
    text-align: center;
  }

  .hero-content {
    padding: 40px 5px 10px 0;
  }

  .hero-image.main-wrap img {
    height: 100%;
  }

  .main-posts-picture {
    margin-bottom: 0;
  }

  .main-posts-content {
    max-width: 100%;
  }

  .main-posts-art.second .main-posts-wrap {
    margin-right: unset;
  }

  .main-posts-container {
    padding: 42px 84px 84px;
  }

  .main-posts-art.second .main-posts-shadow {
    top: -80px;
  }

  .exhibition-wrap,
  .exhibition-wrap.reversed {
    width: 100%;
    padding: 0 15px 23px 15px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }

  .article-exhibition {
    margin: 300px 0 100px;
  }

  .exhibition-content-wrap {
    max-width: 100%;
    width: 100%;
  }

  .exhibition-image-wrap {
    width: 60%;
    height: auto;
  }

  .popular {
    padding-bottom: 0;
  }

  .popular .container {
    padding-left: 0;
    padding-right: 0;
  }

  .exhibition-wrap {
    align-items: flex-start;
  }

  .exhibition-container {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .exhibition-container::after {
    top: 80px;
    height: calc(100% - 80px);
  }

  .exhibition-image-wrap .exhibition-image {
    position: relative;
    top: unset;
    left: unset;
  }

  .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
    top: -200px;
    right: unset;
  }

  /* Fix only for Single Post */
  .single-post .exhibition-image-wrap {
    width: 100%;
  }

  .single-post .article-exhibition {
    margin: 30px 0 30px;
  }

  .single-post .article-paragraph {
    margin: 20px 0;
  }

  .single-post .article-list {
    margin: 40px 0;
  }

  .single-post .article-video {
    margin: 50px 0;
  }

  .single-post .signature {
    max-width: 200px;
  }

  .single-post .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
    top: 0;
    position: relative;
  }

  .single-post .exhibition-wrap.reversed .exhibition-content {
    padding: 15px 15px 0 15px;
  }

  .single-post .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mega-menu-container {
    flex-direction: column;
  }

  .main-posts-picture,
  .single-product-post .main-posts-picture {
    margin-bottom: 0;
    min-height: auto !important;
  }

  .single-product-post .main-posts-container {
    min-height: auto;
  }

  .single-product .taxonomies {
    padding: 10px 0 5px;
  }

  .slick-slider .product-link .product-button-cart {
    display: none;
  }

  .single-product .single-product-post {
    margin-top: 10px;
  }

  .product-container .product-summary.sticky {
    position: relative;
    padding-top: 0;
  }

  .bottom-stop {
    position: relative;
    bottom: 0;
  }

  .modal {
    min-width: 100%;
  }

  li.product-card-big.banner img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 782px) {
  .admin-bar .mega-menu {
    top: 46px;
  }

  .admin-bar nav.main-navigation {
    top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    border-right: none;
  }

  .product-item {
    max-width: 100%;
  }

  .main-navigation-mob .site-branding {
    font-size: 20px;
  }

  .mega-menu-container {
    align-items: center;
  }

  .menu-wrap {
    flex-wrap: wrap;
  }

  #collections_menu_mobile .menu-wrap {
    flex-direction: column;
  }

  .mobile-dropdown-menu .mega-menu-header {
    margin-bottom: 0.4rem;
  }

  .links-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .links-wrap.mobile-links-wrap a {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .links-wrap.mobile-links-wrap a img {
    max-width: 50%;
  }

  .site-branding {
    font-size: 24px;
  }

  .main-navigation .menu {
    max-width: 100%;
    padding: 0 15px;
  }

  .mega-menu {
    padding: 33px 15px 22px;
  }

  h1,
  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content a.btn {
    border: 1px solid;
  }

  .hero-content a.btn::before {
    display: none;
  }

  h2 {
    font-size: 24px;
  }

  .exhibition-content h2 {
    font-size: 27px;
  }

  .product-title {
    font-size: 15px;
  }

  .main-posts-container {
    padding: 42px 30px 42px;
  }

  .home .main-posts-container {
    max-width: 94%;
    margin: -18px auto 0 auto;
  }

  .home .main-posts .main-posts-art.first {
    margin-bottom: 0;
  }

  .home .main-posts-container .animation-label-container .cta-text {
    font-weight: 500;
  }

  .home .main-posts-container .main-posts-wrap p {
    margin-bottom: 0;
  }

  .main-post-image-desktop {
    display: none;
  }

  .footer-subscribe {
    padding: 24px 15px 40px;
  }

  li.product-card {
    width: 50%;
  }

  .main-posts {
    margin-top: 0;
  }

  .filters-sort-row-mob .filter-dropdown {
    padding: 20px 30px;
    left: 0;
  }

  .filters-sort-row-mob {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    top: 0px;
    background-color: #fff;
    z-index: 3;
  }

  .products-filter {
    border-top: none;
  }

  .empty-filter-button {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  .sorting-mob .filter-side .filter-label {
    display: none;
  }

  .archive-header-content header.woocommerce-products-header p {
    display: none;
  }

  .product-container .product-summary {
    padding-top: 2em;
  }

  .product-gallery__wrapper {
    gap: 5px;
  }

  .single-product .site-main>nav.woocommerce-breadcrumb {
    display: block !important;
    margin: 25px 0 0 0;
    padding: 0 15px;
  }

  .single-product .product-summary .product-summary-content .woocommerce-breadcrumb {
    display: none !important;
  }

  .filter-dropdown {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 20px;
    box-shadow: none;
  }

  .filter-sort {
    display: flex;
    gap: 0;
    align-items: flex-start;
  }

  .filter-mob {
    display: block;
  }

  .image-caption-item.half {
    width: 100%;
  }

  .article-slider .slick-list {
    max-width: 90%;
  }

  .exhibition-content {
    padding: 40px 0 55px;
  }

  .exhibition-content {
    gap: 30px;
  }

  .page-item {
    width: calc((100% - 24px) / 2);
  }

  .article-paragraph.main-title-container {
    margin: 0 auto;
    transform: translateY(0);
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .article-paragraph.main-title-container .breadcrumbs {
    text-align: center;
  }

  .search-modal-content .article-list-item {
    width: 100%;
  }

  span.woo-login-wrap {
    flex-direction: column;
  }

  form.header-form-search {
    position: fixed;
    top: 109px;
    left: 0;
    height: 65px;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    z-index: 5;
  }

  .search-overlay-container {
    display: none;
  }

  .search-overlay-container.active {
    display: block;
  }

  body.no-scroll {
    overflow: hidden;
  }

  #search_overlay {
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: row;
    will-change: transform;
    z-index: 4;
  }

  #search_results {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
    top: 160px;
    right: 0;
    z-index: 999999;
  }


  .header-form-btns {
    padding-top: 14px;
  }

  #search_results .search-header {
    display: none;
  }

  form.header-form-search input#header_search {
    width: 100%;
    font-size: 19px;
    padding: 10px 0;
  }

  .flex-visible {
    display: flex !important;
  }

  .taxonomies-title {
    margin-bottom: 20px;
  }

  .taxonomies-content {
    width: 42%;
  }

  .taxonomies-content-image {
    max-height: fit-content;
  }

  .taxonomies-content.last .taxonomies-content-image {
    display: none;
  }

  .taxonomies-content-title {
    font-size: 13px;
  }

  .single-product .taxonomies-content-title {
    font-size: 18px;
  }

  .single-product .product-summary .quantity .qty {
    display: none;
  }

  button.js-accordion-trigger.accordion-trigger {
    display: block;
  }

  .accordion-row.active+.menu-footer-widget-1-container,
  .accordion-row.active+.menu-footer-widget-2-container,
  .accordion-row.active+.menu-footer-widget-3-container,
  .accordion-row.active+.menu-footer-widget-4-container {
    display: block;
  }

  .menu-footer-widget-1-container,
  .menu-footer-widget-2-container,
  .menu-footer-widget-3-container,
  .menu-footer-widget-4-container {
    display: none;
  }

  .footer-four-menu .accordion-row.active .js-accordion-trigger::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PGcgY2xpcC1wYXRoPSd1cmwoI2NsaXAwKSc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00yNCAxMkgwdi0xaDI0djF6JyBmaWxsPSdibGFjaycvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9J2NsaXAwJz48cGF0aCBmaWxsPSd3aGl0ZScgZD0nTTAgMGgyNHYyNEgweicvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==) center no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    width: 1.8rem;
  }

  .footer-four-menu .accordion-row .js-accordion-trigger::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xMiAxMnYxMmgxVjEyaDExdi0xSDEzVjBoLTF2MTFIMHYxaDEyeicgZmlsbD0nYmxhY2snLz48L3N2Zz4=) center no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    width: 1.6rem;
  }

  .footer-four-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 3rem 0 1rem;
  }

  .paragraph-title {
    text-align: center;
  }

  .paragraph-text,
  .paragraph-text p {
    text-align: right;
  }

  .article-collections {
    margin-top: 0;
    margin-bottom: 0;
  }

  #products-filter .sorting-mob {
    display: block;
  }

  .popular-nav {
    display: none;
  }

  .single-product-taxonomies {
    margin-bottom: 25px;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    font-size: 28px;
  }

  .product-count {
    font-size: 17px;
  }

  .mobile-only {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .profile-dashboard {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .paragraph-title {
    text-align: center;
  }

  .paragraph-text,
  .paragraph-text p {
    text-align: right;
  }

  .article-collections {
    margin-top: 0;
    margin-bottom: 0;
  }

}

@media screen and (max-width: 402px) {
  .page-item {
    width: 100%;
  }
}

@media screen and (max-width: 359px) {
  .container {
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-wrap.header-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-branding {
    font-size: 20px;
  }

  .exhibition-content {
    padding: 0 0 65px;
  }
}