@media screen and (min-width: 1920px) {

  #products-filter .sorting-mob,
  #products-filter .mobile-header {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .main-post-image-mobile {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}

@media screen and (max-width: 1919px) {
  .container {
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-wrap.header-wrap {
    padding-left: 32px;
    padding-right: 32px;
  }

  .archive-header-content nav.woocommerce-breadcrumb {
    margin-bottom: 20px;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    margin: 0 0 40px;
  }

  #products-filter .sorting-mob,
  #products-filter .mobile-header {
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .collections-content .collections-container {
    max-width: 82%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1601px) {
  .menu-side {
    width: calc(100% - 880px);
  }
}

@media screen and (max-width: 1600px) {
  .mega-menu {
    padding: 33px 42px 22px 42px;
  }

  .menu-wrap {
    gap: 24px;
  }

  .menu-wrap>div {
    width: calc((100% - 24px) / 2);
  }

  .mega-menu-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .collections-shadow,
  .collections-shadow svg {
    width: 100%;
  }

  .archive-header-content header.woocommerce-products-header {
    max-width: 800px;
    margin-right: 80px;
  }

  .page-list {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1439px) {

  .container,
  .collections-content,
  .collections-shadow svg {
    max-width: 1280px;
  }
}

@media screen and (max-width: 1365px) {
  label.gift-amount-item {
    width: calc((100% - 48px) / 3);
  }

  .gift-amount {
    min-width: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1279px) {
  .container {
    max-width: 1024px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-wrap.header-wrap {
    padding-left: 25px;
    padding-right: 25px;
  }

  .collections-list {
    max-width: 768px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  li.product-card {
    width: calc(100% / 2);
  }

  .main-posts-picture,
  .single-product-post .main-posts-picture {
    position: relative;
    min-height: auto;
    width: 100%;
    display: flex;
    max-width: 100%;
  }

  .main-post-image {
    right: unset !important;
    left: unset !important;
    position: relative;
  }

  .main-posts-art.second .main-posts-picture {
    justify-content: flex-end;
  }

  .main-posts-container {
    min-height: unset;
  }

  .main-posts {
    margin-bottom: 0;
  }

  .exhibition-image-wrap .exhibition-image {
    top: 100px;
    left: 100px;
  }


  .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
    top: 100px;
    right: 100px;
  }

  .exhibition-content {
    padding: 0;
  }

  .exhibition-wrap.reversed .exhibition-content {
    padding: 65px 36px 0 65px;
  }

  .article-list-item.two-in-a-row,
  .article-list-item.three-in-a-row,
  .list-item-side {
    width: 100%;
  }

  .post-side {
    width: 100%;
  }

  .profile-container .woocommerce {
    flex-direction: column;
  }

  .profile-navigation {
    width: 100%;
    padding: 20px;
  }

  .profile-navigation ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .profile-navigation li {
    margin-bottom: 0;
  }

  .profile-navigation .woocommerce-MyAccount-navigation-link--customer-logout {
    display: none !important;
  }

  .profile-content {
    padding: 0;
    width: 100%;
  }

  .dashboard-item.logout-item {
    display: flex;
  }

  .taxonomies-wrap {
    flex-wrap: wrap;
  }

  .taxonomies-content {
    width: calc((100% - 28px) / 2);
  }

  .taxonomies-content.last {
    width: 100%;
  }

  .main-posts-container {
    margin-left: 0;
  }

  .main-posts-art.second .main-posts-container {
    margin-right: 0;
  }
}

@media screen and (max-width: 1024px) {
  .taxonomies-category-boxes .slick-slider {
    padding: 0;
  }

  .slick-initialized .slick-slide {
    margin: 0 5px;
  }

  .taxonomies-category-boxes h3.taxonomies-content-title {
    font-size: 14px;
  }

  .taxonomies-category-boxes .woocommerce-products-header {
    margin-bottom: 10px;
  }

  .taxonomies-category-boxes .slick-slide picture {
    width: 112px;
    height: 112px;
  }


  header#masthead {
    border-bottom: 1px solid #e2e2e2;
  }

  .container {
    max-width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .archive-header-content header.woocommerce-products-header p {
    display: none;
  }

  .page-mob {
    display: block;
  }

  img.page-mob {
    width: 100%;
  }

  .page-desk {
    display: none;
  }

  .main-posts-shadow {
    overflow: hidden;
  }

  svg {
    max-width: 100%;
  }

  .main-navigation-mob {
    display: flex;
    justify-content: space-between;
    padding: 24px 15px;
    gap: 20px;
    align-items: center;
  }

  .main-navigation-mob .site-branding {
    margin: 0;
  }

  .user-actions {
    width: 100%;
    flex-direction: row-reverse;
    height: 46px;
  }

  .main-posts-art.first .main-posts-shadow {
    right: 0;
  }

  .main-posts-art.second .main-posts-shadow {
    left: 0;
  }

  .hero-wrap {
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .hero-content {
    align-items: center;
  }

  .user-actions-side .header-like {
    display: none;
  }

  .user-actions-side .header-search {
    position: absolute;
    right: 40px;
  }

  form.header-form-search .header-form-container {
    justify-content: space-between;
  }

  .product-results li img {
    width: 120px;
  }

  .product-results h5 {
    font-size: 16px;
  }

  .product-results li bdi {
    font-size: 14px;
  }

  #search_results {
    width: 374px;
    position: absolute;
    top: 100px;
    right: 0;
    background: #fff;
    z-index: 9999;
  }

  .header-action.header-search {
    gap: 0;
  }

  #search_overlay {
    position: fixed;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
  }

  .admin-bar #search_overlay {
    top: 126px;
  }

  .search-overlay-container.active #search_overlay {
    display: block;
  }

  .user-actions-side,
  .header-actions-burger {
    display: flex;
    gap: 24px;
  }

  form.header-form-search {
    position: fixed;
    top: 90px;
    left: 0;
    height: 65px;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    z-index: 5;
  }

  .admin-bar form.header-form-search {
    top: 122px;
  }

  .site-logo-desktop {
    display: none !important;
  }

  .site-branding {
    max-width: 87px;
    text-align: center;
  }

  .site-branding::after {
    content: '';
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 87 30'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.86 8.25h1.728v.505c0 .502-.022.977-.066 1.411a3.09 3.09 0 01-.296 1.086c-.15.295-.369.53-.647.7-.279.171-.668.258-1.155.258-.606 0-1.134-.09-1.568-.267a2.286 2.286 0 01-1.047-.865c-.274-.408-.478-.956-.608-1.628-.132-.679-.199-1.533-.199-2.54V5.45c0-.62.04-1.238.116-1.836a4.62 4.62 0 01.48-1.582c.24-.452.589-.824 1.035-1.106C5.08.644 5.683.502 6.425.502c.939-.012 1.681.277 2.234.856.563.59.992 1.43 1.275 2.5l.027.099h.488V.267h-.508L9.907.35c-.058.139-.109.197-.142.221C9.741.59 9.676.62 9.51.62c-.132 0-.299-.032-.496-.094A17.713 17.713 0 007.408.104C6.41-.112 5.282.01 4.168.453c-.753.3-1.447.735-2.06 1.291A6.808 6.808 0 00.593 3.763C.2 4.55 0 5.44 0 6.406c0 .888.18 1.725.533 2.488.351.76.826 1.43 1.412 1.995a6.639 6.639 0 002.045 1.335 6.225 6.225 0 002.417.488c.525 0 .98-.055 1.354-.165a7.96 7.96 0 00.981-.35l.78-.343c.222-.098.46-.148.71-.148.11 0 .207.024.293.075.071.04.112.104.128.2l.019.11h.548v-3.84h1.09v-.503H6.86v.503zM12.916.77h1.542v11.206h-1.542v.501h5.785v-.502h-1.543V.77h1.543V.268h-5.785V.77zM23.418 11.056c-.274-.435-.48-1.034-.61-1.78-.133-.755-.2-1.72-.2-2.87 0-.877.04-1.69.117-2.418.076-.72.236-1.35.475-1.87.233-.51.578-.911 1.023-1.193.447-.28 1.055-.423 1.808-.423.807 0 1.445.153 1.896.455.451.303.793.718 1.017 1.234.227.524.367 1.14.417 1.834.05.713.075 1.463.075 2.23 0 .86-.03 1.672-.091 2.413-.06.727-.207 1.362-.434 1.887a2.707 2.707 0 01-1.008 1.216c-.445.291-1.075.439-1.872.439-.607 0-1.135-.087-1.57-.259-.424-.167-.774-.468-1.043-.895zm7.006-9.344A6.492 6.492 0 0028.367.444c-1.48-.569-3.004-.615-4.584.01a6.78 6.78 0 00-2.07 1.291A6.834 6.834 0 0020.2 3.764c-.393.786-.593 1.675-.593 2.642 0 .888.179 1.725.532 2.489.352.76.827 1.431 1.413 1.993a6.65 6.65 0 002.045 1.336 6.264 6.264 0 002.434.488c.853 0 1.675-.17 2.443-.506a6.695 6.695 0 002.037-1.377A6.75 6.75 0 0031.914 8.8c.347-.77.523-1.592.523-2.445 0-.976-.187-1.867-.557-2.649a6.41 6.41 0 00-1.456-1.995zM76.398.77h1.543v7.24L72.525.268h-4.161V.77h1.543v11.206h-1.543v.501h3.621v-.502h-1.542V1.969l7.377 10.51h.656V.77h1.544V.268h-3.622V.77zM80.876.77h1.543v11.206h-1.543v.501h5.786v-.502h-1.544V.77h1.544V.268h-5.786V.77zM63.97.268V.77h1.543v7.24L60.096.268h-4.16V.77h1.542v11.205h-1.543v.502h3.622v-.502h-1.543V1.967l7.378 10.51h.656V.77h1.543V.268h-3.622zM45.857 7.245l1.682-4.1 1.772 4.1h-3.454zm8.409 4.73L49.07.002h-.801l-4.916 11.975h-1.068v.502h2.718v-.502H43.91l1.752-4.228h3.848l1.83 4.228h-1.068v.502h5.038v-.502h-1.045zM41.596.268V.77h1.447L39.7 9.356 36.422.77h1.55V.268h-5.87V.77h1.45l4.546 11.942h.839L43.582.77h1.484V.268h-3.47zM38.027 22.721a4.694 4.694 0 00-1.182-.681 19.6 19.6 0 00-1.334-.482c-.454-.145-.896-.285-1.327-.42a6.117 6.117 0 01-1.124-.467 2.571 2.571 0 01-.773-.63c-.187-.231-.282-.53-.282-.889 0-.234.057-.468.17-.694.115-.23.285-.441.504-.63.223-.19.5-.345.823-.462a3.366 3.366 0 011.137-.176c.523 0 .96.09 1.296.269.34.18.624.42.846.71.226.296.415.632.56 1 .15.376.293.763.426 1.15l.03.091h.448v-3.454h-.49l-.035.082a.768.768 0 01-.13.234c-.001 0-.04.036-.216.036-.117 0-.25-.03-.395-.09a8.585 8.585 0 00-1.319-.426 4.347 4.347 0 00-1.004-.104 4.54 4.54 0 00-1.667.302c-.511.201-.956.47-1.323.796-.37.329-.662.712-.87 1.14a3.06 3.06 0 00-.316 1.35c0 .622.103 1.15.307 1.568.203.419.478.775.815 1.059.331.28.715.514 1.14.692.422.177.856.33 1.29.457l1.274.378c.403.12.767.269 1.08.442.306.169.554.381.736.633.178.244.269.561.269.944 0 .21-.044.459-.129.741a2.356 2.356 0 01-.437.802 2.47 2.47 0 01-.852.643c-.36.174-.831.263-1.4.263-.167 0-.348-.003-.542-.008a2.422 2.422 0 01-.588-.096 3.055 3.055 0 01-.659-.282 3.343 3.343 0 01-.72-.567 3.561 3.561 0 01-.573-.702 5.604 5.604 0 01-.393-.754 4.9 4.9 0 01-.237-.686 6.744 6.744 0 01-.116-.517l-.019-.111h-.497v3.99h.496l.031-.088c.064-.178.119-.233.139-.248.024-.019.09-.05.256-.05.067 0 .204.017.474.095a20.18 20.18 0 001.757.423c.347.069.703.103 1.056.103.707 0 1.358-.113 1.935-.336a4.803 4.803 0 001.501-.906c.42-.38.75-.829.98-1.335.23-.508.346-1.051.346-1.615 0-.58-.11-1.075-.326-1.473a3.322 3.322 0 00-.847-1.014zM47.398 17.443l.182-.02c.108-.01.222-.015.339-.015.923 0 1.563.24 1.904.715.35.488.528 1.212.528 2.153 0 .989-.201 1.694-.598 2.095-.398.403-1.06.607-1.969.607h-.386v-5.535zm4.15.07a5.883 5.883 0 00-1.647-.48 11.599 11.599 0 00-1.646-.128c-.564 0-1.141.009-1.716.025-.573.017-1.147.026-1.706.026h-1.677v.502h1.543v11.205h-1.543v.502h5.785v-.502h-1.543v-5.184h.555c.901 0 1.697-.086 2.364-.255.67-.17 1.237-.405 1.684-.697.454-.297.796-.652 1.017-1.054.222-.405.335-.842.335-1.297 0-.676-.176-1.237-.525-1.67a3.575 3.575 0 00-1.28-.992zM56.664 17.458h1.544v11.205h-1.544v.502h5.787v-.502h-1.544V17.458h1.544v-.502h-5.787v.502zM73.993 17.458h1.544v7.239l-5.377-7.684-.04-.057h-4.16v.502H67.5v11.205H65.96v.502h3.622v-.502h-1.544V18.655l7.339 10.453.04.057h.656V17.458h1.543v-.502h-3.622v.502zM86.662 17.458v-.502h-5.786v.502h1.543v11.205h-1.543v.502h5.786v-.502h-1.543V17.458h1.543zM17.466 23.933l1.682-4.101 1.772 4.1h-3.454zm8.409 4.73l-5.194-11.971h-.805l-4.913 11.97h-1.069v.503h2.718v-.502H15.52l1.752-4.228h3.848l1.83 4.228h-1.067v.502h5.037v-.502h-1.045zM6.95 21.689c-.13.205-.331.372-.597.495-.272.125-.654.188-1.135.188h-.554v-4.926l.247-.023c.12-.01.24-.016.357-.016.405 0 .74.053.998.158.248.101.445.257.586.463.146.213.251.49.314.822.065.343.099.76.099 1.241 0 .294-.02.587-.058.87-.036.27-.123.515-.257.728zm4.628 6.974a.837.837 0 01-.268.024c-.18-.022-.268-.05-.352-.112-.055-.04-.135-.141-.202-.395a4.546 4.546 0 01-.138-.87l-.134-1.694c-.047-.62-.167-1.122-.359-1.493a2.278 2.278 0 00-.793-.89 3.69 3.69 0 00-1.157-.471c-.28-.066-.589-.132-.921-.198a7.04 7.04 0 00.615-.138c.403-.11.774-.27 1.102-.477.335-.212.611-.488.822-.823.214-.338.322-.749.322-1.22 0-.583-.14-1.077-.419-1.47a3.057 3.057 0 00-1.043-.92 4.643 4.643 0 00-1.373-.475 7.86 7.86 0 00-1.408-.136c-.465 0-.935.008-1.396.025-.462.017-.929.025-1.389.025H.422v.503h1.542v11.205H.422v.501h5.785v-.502H4.664v-5.787h.973c.495 0 .882.093 1.149.278.269.187.473.438.607.748.139.322.229.694.267 1.108.038.426.069.872.091 1.326.011.298.036.626.076.975.041.358.151.665.328.97.178.31.454.528.821.736.415.233.937.356 1.508.356.308 0 .558-.025.766-.076.118-.029.238-.082.328-.131v-.502z' fill='%231A1919'/%3e%3c/svg%3e") center no-repeat;
    width: 8.7rem;
    height: 3rem;
    display: inline-block;
    margin-top: 0.3rem;
  }

  .header-top {
    flex-direction: column;
    padding: 10px 0 4px 0;
  }

  nav.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #fff;
    overflow-y: auto;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
  }

  nav.main-navigation.is-show {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
  }

  .admin-bar nav.main-navigation {
    top: 32px;
  }

  .main-navigation .menu-item a {
    position: relative;
  }

  .mega-menu {
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .admin-bar .mega-menu {
    top: 32px;
  }

  .main-navigation .menu-item a.active,
  .main-navigation .menu-item a:hover {
    border-bottom: 2px solid transparent;
  }

  .main-navigation .menu-item a::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xOC4yNiAxMkw2LjY2MiAxLjM2OSA3LjMzOC42MyAxOS43NCAxMiA3LjMzOCAyMy4zNjlsLS42NzYtLjczOEwxOC4yNiAxMnonIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 14px;
    height: 22px;
    display: inline-block;
    margin: 0 .5rem;
    transform: scale(0);
    position: absolute;
    left: 0;
  }

  html[dir="rtl"] .main-navigation .menu-item a::after {
    content: '';
    transform: scale(-1);
  }

  .main-navigation .menu {
    margin: 0 auto;
    align-items: unset;
    flex-direction: column;
    max-width: 90%;
    width: 100%;
    margin-top: 40px;
  }

  ul#primary-menu .menu-item {
    border-bottom: 1px solid #c8c8c8;
  }

  .mega-menu-header {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 0 1.6rem 0;
    border: 0;
    margin-bottom: 2.4rem;
    background: transparent;
    font-weight: 500;
    letter-spacing: 0px;
  }

  .mega-menu-header::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xOC4yNiAxMkw2LjY2MiAxLjM2OSA3LjMzOC42MyAxOS43NCAxMiA3LjMzOCAyMy4zNjlsLS42NzYtLjczOEwxOC4yNiAxMnonIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 14px;
    height: 22px;
    display: inline-block;
    margin: 0 .5rem;
    transform: scale(0);
    position: absolute;
    left: 0;
    top: -2px;
  }

  .menu-btns {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  .menu-title {
    font-size: 22px;
    margin-bottom: 20px;
    padding-top: 12px;
  }

  html[dir="rtl"] .mega-menu-header::after {
    content: '';
    transform: scale(-1);
  }

  html[dir="rtl"] .product-gallery__wrapper {
    direction: ltr;
  }

  .mega-menu-container .menu li {
    padding: 0 0 10px;
  }

  .archive-header {
    height: auto;
  }

  .archive-header-content header.woocommerce-products-header {
    max-width: 100%;
    margin-right: 0;
  }

  .archive-header-content {
    position: initial;
  }

  .archive-header-content nav.woocommerce-breadcrumb {
    position: absolute;
    top: 0;
  }

  .page-description {
    display: none;
  }

  .archive-header-content .container {
    max-width: 100%;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    margin: 0;
    padding: 23px 0 10px;
  }

  .archive-header-content header.woocommerce-products-header h1,
  .product-count {
    color: #000;
  }

  .products-filter {
    margin-top: 16px;
  }

  .term-298 .products-filter {
    margin-top: 0;
  }

  li.product-card-big {
    width: 100%;
  }

  .adv-link img,
  .adv-link {
    width: 100%;
  }

  .product-summary-wrap {
    flex-direction: column;
    gap: 10px;
  }

  .product-summary .product_title.entry-title {
    text-align: center;
  }

  .single-product-details {
    max-width: 100%;
    border-right: none;
    padding-right: 0;
  }

  .product-gallery__wrapper * {
    width: 100%;
  }

  .product-container .product-gallery,
  .product-gallery__image.half {
    max-width: 100%;
    width: 100%;
  }

  .custom-slider-cl {
    max-width: 100% !important;
  }

  .product-container .product-gallery {
    overflow: hidden;
  }

  .product-container .product-summary {
    max-width: 100%;
  }

  .product-summary .price {
    margin-top: 0;
  }

  .product-user-info {
    flex-direction: column;
  }

  .product-info-shadow svg {
    max-width: max-content;
  }

  .product-summary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .woocommerce div.product form.cart {
    align-items: center;
  }

  .single-product-content-wrap {
    gap: 40px;
    flex-direction: column;
  }

  .product-user-info-wrap::before {
    content: '';
    bottom: 150px;
    height: auto;
  }

  .page-item {
    width: calc((100% - 48px) / 3);
  }

  .page-id-3494 li.product-card .product-image img,
  .page-id-3494 .slick-slide .product-image img {
    padding: 0;
  }

  .filter-sorting .filter-label,
  .filter-attr-list {
    display: none;
  }

  .filter-side.open-btn {
    display: block;
    width: auto;
  }

  .filter-attr {
    display: flex;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 12px 30px -18px rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease;
    height: 100%;
  }

  .admin-bar .filter-attr {
    top: 32px;
  }

  .filter-attr.is-show {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    z-index: 10000;
  }

  .filter-wrap.filter-sort .filter-dropdown {
    position: absolute;
    top: 56px;
    left: 15px;
    border: 1px solid #e0e0e0;
  }

  #products-filter .mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
    font-size: 17px;
    padding: 0 0 19px 0;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: #fff;
    z-index: 1;
    margin-bottom: 1.2rem;
  }

  #products-filter .mobile-header .reset.js-reset {
    font-size: 17px;
    padding: 2px 9px;
    border: 0;
    margin: 0;
  }

  #products-filter .mobile-header .js-close-filters.icon-close {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xMiAxMi43MDdsMTAuNjQ2IDEwLjY0Ni43MDgtLjcwN0wxMi43MDcgMTIgMjMuMzU0IDEuMzU0bC0uNzA3LS43MDhMMTIgMTEuMjkzIDEuMzU0LjY0NmwtLjcwOC43MDhMMTEuMjkzIDEyIC42NDcgMjIuNjQ2bC43MDcuNzA3TDEyIDEyLjcwN3onIGZpbGw9J2JsYWNrJy8+PC9zdmc+) center no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    outline: none;
    border: 0;
  }

  .filter-side {
    flex-direction: column;
    width: 100%;
  }

  .btn-filter {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .filter-dropdown {
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 20px;
    box-shadow: none;
  }

  .main-posts-art.second .main-posts-container,
  .main-posts-container {
    position: relative;
    width: 94%;
    max-width: 100%;
    margin: -30px auto 0 !important;
  }

  .main-posts-wrap {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .gift-title,
  .gift-header-content * {
    color: #000;
  }

  .main-navigation.is-show {
    display: flex !important;
    flex-direction: column;
  }

  .mobile-user-info {
    margin-top: auto;
    background: #f6f6f6;
  }

  .user-info-menu {
    padding-top: 37px;
    padding-bottom: 16px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
  }

  .mobile-user-action {
    width: calc((100% - 20px) / 2);
  }

  .mobile-user-action a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 0.8rem 0;
    text-decoration: none;
    font-size: 12px;
  }


  .order-link::before,
  .login-link::before,
  .wishlist-link::before,
  .customer-link::before {
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .login-link::before {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17 8A5 5 0 117 8a5 5 0 0110 0zm1 0A6 6 0 116 8a6 6 0 0112 0zM1.5 22c0-1.244 1.03-2.613 2.967-3.703C6.375 17.223 9.038 16.5 12 16.5c2.962 0 5.625.723 7.533 1.797C21.47 19.387 22.5 20.757 22.5 22v2.5h1V22c0-1.794-1.433-3.425-3.477-4.575C17.95 16.258 15.113 15.5 12 15.5c-3.114 0-5.95.758-8.023 1.925C1.933 18.575.5 20.206.5 22v2.5h1V22z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3cpath fill='white' d='M0 0h24v24H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center no-repeat;
  }

  .order-link::before {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.753 8H13.5V1h6.896a1 1 0 01.976.783L22.753 8zM12.5 9V0h7.896a2 2 0 011.952 1.566L24 9H12.5zM23 11H1v11a1 1 0 001 1h20a1 1 0 001-1V11zM0 10v12a2 2 0 002 2h20a2 2 0 002-2V10H0zm10.5-2H1.247l1.381-6.217A1 1 0 013.604 1H10.5v7zm1-8v9H0l1.652-7.434A2 2 0 013.604 0H11.5z' fill='black'/%3e%3c/svg%3e") center no-repeat;
  }

  .wishlist-link::before {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.319 2.082l-.017-.003a4.86 4.86 0 00-2.804.322 5.861 5.861 0 00-3.16 3.686l-.003.012-.004.012c-.515 1.625-.398 3.27.135 4.974a13.41 13.41 0 002.672 4.653l.006.007.007.008c2.193 2.585 4.903 4.534 7.916 6.168.256-.129.498-.256.725-.394a32.386 32.386 0 005.317-4.08l.007-.006.007-.007a18.688 18.688 0 003.283-3.945v-.002A10.486 10.486 0 0023 7.81v-.022a5.768 5.768 0 00-1.672-4.123l-.007-.007-.007-.007c-.774-.811-1.595-1.283-2.455-1.495-.865-.213-1.832-.178-2.914.124l-.006.002c-1.246.34-2.244 1.132-3.118 2.238l-.004.004-.059.074-.008.01a1.38 1.38 0 01-.257.244 1.057 1.057 0 01-.94.151c-.3-.096-.471-.301-.513-.35l-.003-.004a2.317 2.317 0 01-.128-.171l-.175-.242c-.894-1.185-1.977-1.943-3.397-2.15l-.017-.003zm4.218 1.559l.187.257c.124.18.146.202.258.068l.054-.068a10.23 10.23 0 01.493-.579l.006-.006c.86-.932 1.878-1.652 3.14-1.996 2.424-.68 4.581-.222 6.361 1.642A6.767 6.767 0 0124 7.797a11.486 11.486 0 01-1.744 6.22 19.684 19.684 0 01-3.458 4.157 33.387 33.387 0 01-5.485 4.208c-.358.216-.735.405-1.112.588a.374.374 0 01-.293 0C8.7 21.265 5.764 19.2 3.388 16.4a14.409 14.409 0 01-2.873-5.008c-.58-1.845-.73-3.71-.137-5.583a6.861 6.861 0 013.71-4.32 5.86 5.86 0 013.393-.394c1.58.231 2.798 1.03 3.769 2.185l.004.005a8.246 8.246 0 01.283.356zm-.326-.312l-.004.004a.07.07 0 01.004-.004z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3cpath fill='white' d='M0 0h24v24H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center no-repeat;
  }

  .customer-link::before {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3e%3cg clip-path='url(%23clip0)'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.038 6.09C4.424 5.104 6.37 4.5 8.492 4.5c2.105 0 4.042.595 5.431 1.54 1.303.887 2.069 2.033 2.069 3.241 0 1.208-.766 2.355-2.069 3.241-1.39.945-3.326 1.54-5.431 1.54-.788 0-1.579-.085-2.347-.253l-1.203-.259-1.038.638c-.227.138-.453.266-.68.383l.632-1.202-1.543-1.441c-.77-.723-1.245-1.524-1.313-2.421.009-1.321.769-2.514 2.038-3.417zm-.422 7.489l-.611 1.16-.13.236-.128.224-.778 1.297 1.575-.528.01-.004c.633-.239 1.257-.548 1.871-.923h.001l.698-.429.808.174c.413.09.83.159 1.252.205.507 1.272 1.538 2.355 2.85 3.14 1.491.892 3.378 1.422 5.383 1.422.854 0 1.71-.098 2.543-.29l.561-.129.486.317h.002c.613.397 1.238.724 1.872.977l.01.004.372.14 2.41.843-1.29-2.25c-.119-.208-.24-.432-.355-.659l-.42-.845.68-.674c.951-.946 1.611-2.099 1.695-3.461v-.008l.009-.277v-.007c0-1.638-.99-3.202-2.438-4.336a9.116 9.116 0 00-5.263-1.893c-.444-.689-1.073-1.294-1.805-1.792C12.912 4.143 10.774 3.5 8.492 3.5c-2.3 0-4.456.652-6.034 1.775C1.007 6.307.003 7.778 0 9.523v.018l.001.018c.086 1.237.738 2.263 1.628 3.098h.001l.986.922zm14.175-5.54c.13.396.2.81.2 1.242 0 1.66-1.046 3.076-2.505 4.068-1.574 1.07-3.712 1.713-5.994 1.713h-.173c.457.846 1.225 1.61 2.228 2.21 1.328.795 3.036 1.281 4.87 1.281.778 0 1.56-.09 2.318-.265l.976-.223.841.547c.563.364 1.128.66 1.695.886l.223.083c-.113-.2-.226-.41-.334-.623l-.746-1.5 1.194-1.181c.825-.821 1.334-1.753 1.4-2.805l.008-.245c-.003-1.23-.76-2.528-2.054-3.542A8.107 8.107 0 0016.79 8.04z' fill='black'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0'%3e%3cpath fill='white' d='M0 0h24v24H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") center no-repeat;
  }

  .page.default-template,
  .reg-section {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .hero-wrap {
    position: relative;
    text-align: center;
  }

  .hero-content {
    padding: 40px 5px 10px 0;
  }

  .hero-image.main-wrap img {
    height: 100%;
  }

  .main-posts-picture {
    margin-bottom: 0;
  }

  .main-posts-art.second .main-posts-wrap {
    margin-right: unset;
  }

  .main-posts-container {
    padding: 42px 84px 84px;
  }

  .main-posts-art.second .main-posts-shadow {
    top: -80px;
  }

  .exhibition-wrap,
  .exhibition-wrap.reversed {
    width: 100%;
    padding: 0 15px 23px 15px;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column-reverse;
  }

  .exhibition-content-wrap {
    max-width: 100%;
    width: 100%;
  }

  .exhibition-image-wrap {
    width: 60%;
    height: auto;
  }

  .popular {
    padding-bottom: 0;
  }

  .popular .container {
    padding-left: 0;
    padding-right: 0;
  }

  .exhibition-wrap {
    align-items: flex-start;
  }

  .exhibition-container {
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .exhibition-container::after {
    top: 80px;
    height: calc(100% - 80px);
  }

  .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image,
  .exhibition-image-wrap .exhibition-image {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
  }

  /* Fix only for Single Post */
  .single-post .exhibition-image-wrap {
    width: 100%;
  }

  .single-post .article-exhibition {
    margin: 30px 0 30px;
  }

  .single-post .article-paragraph {
    margin: 20px 0;
  }

  .single-post .article-list {
    margin: 40px 0;
  }

  .single-post .article-video {
    margin: 50px 0;
  }

  .single-post .signature {
    max-width: 200px;
  }

  .single-post .exhibition-wrap.reversed .exhibition-image-wrap .exhibition-image {
    top: 0;
    position: relative;
  }

  .single-post .exhibition-wrap.reversed .exhibition-content {
    padding: 15px 15px 0 15px;
  }

  .single-post .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mega-menu-container {
    flex-direction: column;
  }

  .main-posts-picture,
  .single-product-post .main-posts-picture {
    min-height: auto !important;
  }

  .single-product-post .main-posts-container {
    min-height: auto;
  }

  .single-product .taxonomies {
    padding: 10px 0 5px;
  }

  .slick-slider .product-link .product-button-cart {
    display: none;
  }

  .single-product .single-product-post {
    margin-top: 10px;
  }

  .product-container .product-summary.sticky {
    position: relative;
    padding-top: 0;
  }

  .bottom-stop {
    position: relative;
    bottom: 0;
  }

  .modal {
    min-width: 100%;
  }

  li.product-card-big.banner img {
    width: 100%;
    height: auto;
  }

  .gift-certificate__card-wrap {
    display: none;
  }

  .wrapper-form {
    width: 100%;
  }

  .modal-subscription .modal-side {
    width: 100%;
  }

  .modal-side-image {
    display: none;
  }

  .modal-subscription {
    max-width: 90%;
    min-width: 90%;
  }

  .modal-side-content {
    padding: 30px 24px 24px;
  }

  h2.modal-subscribe-title {
    font-size: 24px !important;
  }

  .modal-privacy {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  .u-columns,
  .reg-form .form-row-name {
    flex-direction: column;
  }

  .u-column1,
  .u-column2 {
    float: unset !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 782px) {
  .admin-bar .mega-menu {
    top: 46px;
  }

  .admin-bar nav.main-navigation {
    top: 32px;
  }

  img.main-post-image-mobile {
    display: block;
  }

  img.main-post-image-desktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px !important;
  }

  .hero-content {
    border-right: none;
  }

  .page-id-4565 .container.center-mode-box .article-list-wrap {
    flex-direction: column-reverse;
  }

  .taxonomies-category-boxes h3.taxonomies-content-title {
    font-size: 12px;
  }

  .product-item {
    max-width: 100%;
  }

  .main-navigation-mob .site-branding {
    font-size: 20px;
  }

  .mega-menu-container {
    align-items: center;
  }

  .menu-wrap {
    flex-wrap: wrap;
  }

  #collections_menu_mobile .menu-wrap {
    flex-direction: column;
  }

  .mobile-dropdown-menu .mega-menu-header {
    margin-bottom: 0.4rem;
  }

  .links-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .links-wrap.mobile-links-wrap a {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .links-wrap.mobile-links-wrap a img {
    max-width: 50%;
  }

  .site-branding {
    font-size: 24px;
  }

  .main-navigation .menu {
    max-width: 100%;
    padding: 0 15px;
  }

  .mega-menu {
    padding: 33px 15px 22px;
  }

  h1,
  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content a.btn {
    border: 1px solid;
  }

  h2 {
    font-size: 24px !important;
  }

  .exhibition-content h2 {
    font-size: 27px !important;
  }

  .product-title {
    font-size: 15px;
  }

  .main-posts-container {
    padding: 42px 30px 42px;
  }

  .home .main-posts-container {
    max-width: 94%;
    margin: -18px auto 0 auto;
  }

  .home .main-posts .main-posts-art.first {
    margin-bottom: 0;
  }

  .home .main-posts-container .animation-label-container .cta-text {
    font-weight: 500;
  }

  .home .main-posts-container .main-posts-wrap p {
    margin-bottom: 0;
  }

  .footer-subscribe {
    padding: 24px 15px 40px;
  }

  li.product-card {
    width: 50%;
  }

  .main-posts {
    margin-top: 0;
  }

  .filters-sort-row-mob .filter-dropdown {
    padding: 20px 30px;
    left: 0;
  }

  .filters-sort-row-mob {
    position: sticky;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    top: 0px;
    background-color: #fff;
    z-index: 3;
  }

  .products-filter {
    border-top: none;
  }

  .empty-filter-button {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }

  .sorting-mob .filter-side .filter-label {
    display: none;
  }

  .archive-header-content header.woocommerce-products-header p {
    display: none;
  }

  .product-container .product-summary {
    padding-top: 2em;
  }

  .product-gallery__wrapper {
    gap: 5px;
  }

  .product-image {
    min-height: auto;
  }

  .single-product .site-main>nav.woocommerce-breadcrumb {
    display: block !important;
    margin: 25px 0 0 0;
    padding: 0 15px;
  }

  .single-product .product-summary .product-summary-content .woocommerce-breadcrumb {
    display: none !important;
  }

  .filter-sort {
    display: flex;
    gap: 0;
    align-items: flex-start;
  }

  .filter-mob {
    display: block;
  }

  .image-caption-item.half {
    width: 100%;
  }

  .article-slider .slick-list {
    max-width: 90%;
  }

  .exhibition-content {
    padding: 40px 0 55px;
  }

  .exhibition-content {
    gap: 30px;
  }

  .page-item {
    width: calc((100% - 24px) / 2);
  }

  .article-paragraph.main-title-container {
    margin: 0 auto;
    transform: translateY(0);
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .article-paragraph.main-title-container .breadcrumbs {
    text-align: center;
  }

  .search-modal-content .article-list-item {
    width: 100%;
  }

  span.woo-login-wrap {
    flex-direction: column;
  }

  .search-overlay-container {
    display: none;
  }

  .search-overlay-container.active {
    display: block;
  }

  body.no-scroll {
    overflow: hidden;
  }

  #search_results {
    overflow-y: scroll;
    width: 100%;
    position: fixed;
    top: 160px;
    right: 0;
    z-index: 999999;
  }


  .header-form-btns {
    padding-top: 14px;
  }

  #search_results .search-header {
    display: none;
  }

  form.header-form-search input#header_search {
    width: 100%;
    font-size: 19px;
    padding: 10px 0;
  }

  .flex-visible {
    display: flex !important;
  }

  .taxonomies-title {
    margin-bottom: 20px;
  }

  .taxonomies-content-image {
    max-height: fit-content;
  }

  .taxonomies-content-title {
    font-size: 13px;
  }

  .single-product .taxonomies-content-title {
    font-size: 18px;
  }

  .single-product .product-summary .quantity .qty {
    display: none;
  }

  button.js-accordion-trigger.accordion-trigger {
    display: block;
  }

  .accordion-row.active+.menu-footer-widget-1-container,
  .accordion-row.active+.menu-footer-widget-2-container,
  .accordion-row.active+.menu-footer-widget-3-container,
  .accordion-row.active+.menu-footer-widget-4-container {
    display: block;
  }

  .menu-footer-widget-1-container,
  .menu-footer-widget-2-container,
  .menu-footer-widget-3-container,
  .menu-footer-widget-4-container {
    display: none;
  }

  .footer-four-menu .accordion-row.active .js-accordion-trigger::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PGcgY2xpcC1wYXRoPSd1cmwoI2NsaXAwKSc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00yNCAxMkgwdi0xaDI0djF6JyBmaWxsPSdibGFjaycvPjwvZz48ZGVmcz48Y2xpcFBhdGggaWQ9J2NsaXAwJz48cGF0aCBmaWxsPSd3aGl0ZScgZD0nTTAgMGgyNHYyNEgweicvPjwvY2xpcFBhdGg+PC9kZWZzPjwvc3ZnPg==) center no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    width: 1.8rem;
  }

  .footer-four-menu .accordion-row .js-accordion-trigger::after {
    content: '';
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J00xMiAxMnYxMmgxVjEyaDExdi0xSDEzVjBoLTF2MTFIMHYxaDEyeicgZmlsbD0nYmxhY2snLz48L3N2Zz4=) center no-repeat;
    width: 2.4rem;
    height: 2.4rem;
    display: inline-block;
    width: 1.6rem;
  }

  .footer-four-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 3rem 0 1rem;
  }

  .paragraph-title {
    text-align: center;
  }

  .paragraph-text,
  .paragraph-text p {
    text-align: right;
  }

  .article-collections {
    margin-top: 0;
    margin-bottom: 0;
  }

  #products-filter .sorting-mob {
    display: block;
  }

  .popular-nav {
    display: none;
  }

  .single-product-taxonomies {
    margin-bottom: 25px;
  }

  .archive-header-content header.woocommerce-products-header h1 {
    font-size: 28px;
  }

  .product-count {
    font-size: 17px;
  }

  .mobile-only {
    display: block;
  }

  .page-id-4565 .article-list {
    margin: 10px 0;
  }

  .page-id-4565 .article-page-list {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .gift-amount-error {
    width: 100%;
  }

  .customer-main,
  .customer-dashbord-links {
    flex-direction: column;
  }

  .customer-dashboard-item {
    width: 100%;
  }

  .customer-side.menu {
    padding: 16px 0;
  }

  ul.customer-menu-links {
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .customer-menu-item .customer-menu-link {
    width: max-content;
  }

  .customer-menu-item {
    margin-bottom: 0;
  }

  .form-container {
    flex-direction: column;
  }

  .customer-main form.wpcf7-form label {
    width: 100%;
  }

  .customer-side.content {
    max-width: 90%;
  }

  .customer-table {
    zoom: 0.7;
  }

  .profile-navigation ul .slick-track {
    display: flex;
    align-items: center;
  }

  .profile-navigation ul li,
  .profile-navigation ul a {
    width: max-content;
  }

  .mobile-user-action {
    width: 100%;
  }

  .popular-product {
    width: 90%;
    overflow-x: unset;
  }

  .popular-product .slick-list {
    overflow: unset;
  }

  .exhibition-image-wrap {
    margin: 0 auto;
  }

  .exhibition-content-wrap {
    text-align: center;
  }

  #scrollToTop {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    transition: opacity .3s, transform .3s;
  }

  ul.customer-menu-links li.customer-menu-item {
    border: 0;
  }

  ul.customer-menu-links li.customer-menu-item a {
    position: relative;
    display: inline-block;
  }

  ul.customer-menu-links li.customer-menu-item.current a::after {
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #000;
  }

  .customer-menu-links .slick-prev,
  .profile-navigation ul .slick-prev,
  .customer-menu-links .slick-next,
  .profile-navigation ul .slick-next {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 40px;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    opacity: 0.8;
  }

  /* Left Arrow */
  .customer-menu-links .slick-prev,
  .profile-navigation ul .slick-prev {
    left: -30px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M15 18l-6-6 6-6"/></svg>');
  }

  /* Right Arrow */
  .customer-menu-links .slick-next,
  .profile-navigation ul .slick-next {
    right: -30px;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M9 6l6 6-6 6"/></svg>');
  }

  /* Hover effect */
  .customer-menu-links .slick-prev:hover,
  .profile-navigation ul .slick-prev:hover,
  .customer-menu-links .slick-next:hover,
  .profile-navigation ul .slick-next:hover {
    opacity: 1;
  }

  #customer_details {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 600px) {
  .profile-dashboard {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .paragraph-title {
    text-align: center;
  }

  .paragraph-text,
  .paragraph-text p {
    text-align: right;
  }

  .article-collections {
    margin-top: 0;
    margin-bottom: 0;
  }

  label.gift-amount-item {
    width: calc((100% - 24px) / 2);
  }

  .customer-table {
    zoom: 0.5;
  }

  .product-title {
    font-size: 12px;
  }

  label.footer-subscribe-privacy {
    bottom: -60px;
  }

  label.footer-subscribe-privacy span {
    display: inline;
  }
}

@media screen and (max-width: 402px) {
  .page-item {
    width: 100%;
  }

  label.gift-amount-item {
    width: 100%;
  }

  .popular-product {
    width: 70%;
  }
}

@media screen and (max-width: 359px) {
  .container {
    max-width: 360px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-wrap.header-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-branding {
    font-size: 20px;
  }

  .exhibition-content {
    padding: 0 0 65px;
  }
}